<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-ES" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {% assign current_dir = page.dir %}
      {% assign current_dir_name =  current_dir | replace: "/", "" | replace: "%20", " " %}

      <h2><a href="{{ "/" | absolute_url }}{{ current_dir }}">{{ current_dir_name }}</a></h2>
      
      {{ content }}

      <h3> Enlaces útiles</h3>
      <ul>
        <li><a href="https://www.spanishdict.com/">Dictionario Español</a></li>
        <li><a href="https://translate.google.com/?sl=es&tl=en&op=translate">Google Translate</a></li>
        <li>Here's a helpful <a href="https://www.youtube.com/@QrooSpanish">youtube channel</a> for learning spanish: <a href="https://www.youtube.com/@QrooSpanish">@QrooSpanish</a></li>
        <li>Here’s the <a href="https://youtu.be/RICirlIwjSk?is=j8kXAUNxGgFcd8tA">intro video for using the subjunctive mood</a></li>
        <li><a href="/El%20Diario%20De%20Greg%20-%20Jeff%20Kinney/image1.jpg">Estar congigation</a></li>
        <li><a href="/El%20Diario%20De%20Greg%20-%20Jeff%20Kinney/image2.jpeg">subjenctive</a></li>
      </ul>

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-center text-gray">
        <p>{% github_edit_link "This" %} website was last published on {{ site.time | date: "%B %d, %Y at %H:%M %Z" }}</p>
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
